@page "/Downloads"


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandatory Grant Application</title>
   
</head>

<body>

    <div class="header2">
        <a href="#" style="color: white; text-decoration: none;">&lt; Back</a>
        <h1>Mandatory Grant Application</h1>
        <p>MG 2023 - Mandatory Grants 2023</p>
    </div>

    <div class="tabs2">
        <div class="tab2 active">SDF Details</div>
        <div class="tab2">Summary</div>
        <div class="tab2">Payment Overview</div>
        <div class="tab2">Downloads</div>
    </div>

    <div class="content2">
        <h3>Downloads</h3>
        <div class="download-section2">
            <p>SDF</p>
            <button>Download</button>
        </div>
    </div>

    <div class="footer2">
        <div>Home</div>
        <div>Discretionery Grant</div>
        <div class="active2">Mandatory Grant</div>
        <div>Lesedi Student Fund</div>
    </div>

</body>

</html>


@code {

}
