@page "/Downloads"

  

    <div class="container2">
        <header class="header2">
            <button class="back-btn2">← Back</button>
            <h1>Mandatory Grant Application</h1>
            <h2>MG 2023 - Mandatory Grants 2023</h2>
        </header>
        <div class="tabs">
            <NavLink class="tab" activeClass="active" href="/mandatory-SDF-Details">SDF Details</NavLink>
            <NavLink class="tab" activeClass="active" href="/Summary">Summary</NavLink>
            <NavLink class="tab" activeClass="active" href="/OverviewPayment">Payment Overview</NavLink>
            <NavLink class="tab" activeClass="active" href="">Downloads</NavLink>
        </div>
        <main class="content2">
            <h3>Downloads</h3>
            <p>SDF</p>
            <button class="download-btn">Download</button>
        </main>
        <footer class="footer2">
            <button class="footer-tab2">Home</button>
            <button class="footer-tab2">Discretionary Grant</button>
            <button class="footer-tab2 active">Mandatory Grant</button>
            <button class="footer-tab2">Lesedi Student Fund</button>
        </footer>
    </div>

@code {

}