@page "/Home"

<div class="headerA">
    <h2>SDF/Grant Applicant Profile</h2>
</div>

<div class="profile-containerA">
    <p>You must be linked to the organisation to begin the grant application.</p>

    <h3>Name of linked SDF</h3>
    <button class="view-org-button" @onclick="GoToLinkedOrganisation">View Linked Organization</button>

    <!-- Mandatory Grant Card -->
    <div class="cardA">
        <div class="card-title">Mandatory Grant</div>
        <div style="color: orange;">Application Closes in:</div>
        <div class="card-countdown">
            <div class="timer-box">
                <div>20</div>
                <small>Days</small>
            </div>
            <div class="timer-box">
                <div>00</div>
                <small>hh</small>
            </div>
            <div class="timer-box">
                <div>00</div>
                <small>mm</small>
            </div>
            <div class="timer-box">
                <div>00</div>
                <small>ss</small>
            </div>
        </div>
        <div style="font-weight: bold;">Upcoming Grants</div>
        <small><i>Mandatory Grants Applications 2024/25</i></small><br />
        <small>15/02/2025 - 30/04/2025</small>
    </div>

    <!-- Discretionary Grant Card -->
    <div class="cardA">
        <div class="card-title">Discretionary Grant</div>
        <div style="color: orange;">Application Closes in:</div>
        <div class="card-countdown">
            <div class="timer-box">
                <div>0</div>
                <small>Days</small>
            </div>
            <div class="timer-box">
                <div>00</div>
                <small>hh</small>
            </div>
            <div class="timer-box">
                <div>00</div>
                <small>mm</small>
            </div>
            <div class="timer-box">
                <div>00</div>
                <small>ss</small>
            </div>
        </div>
        <div style="font-weight: bold;">Upcoming Grants</div>
        <small><i>Discretionary Grants FuturePrenuer 2024/25</i></small><br />
        <small>15/02/2025 - 30/04/2025</small>
    </div>

    <!-- Padding to prevent overlap -->
    <div style="height: 80px;"></div>
</div>

<!-- Bottom Navigation -->
<footer class="footer-nav4">
    <NavLink href="/home" class="footer-tab4" activeClass="active4">
        <div class="icon4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
            </svg>
        </div>
        <div class="label4">Home</div>
    </NavLink>

    <NavLink href="/discretionary-grant" class="footer-tab4" activeClass="active4">
        <div class="icon4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
                <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0
                1.1.9 2 2 2h14c1.1 0 2-.9
                2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2z" />
            </svg>
        </div>
        <div class="label4">Discretionary<br />Grant</div>
    </NavLink>
    
    <NavLink href="/mandatory-grants" class="footer-tab4" activeClass="active4">
        <div class="icon4 highlighted4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
                <path d="M14 2H6c-1.1 0-2 .9-2
                2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9
                2-2V8l-6-6zM13 9V3.5L18.5
                9H13z" />
            </svg>
        </div>
        <div class="label4 highlighted4">Mandatory<br />Grant</div>
    </NavLink>

    <NavLink href="/LesediStudentFund" class="footer-tab4" activeClass="active4">
        <div class="icon4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
                <path d="M12 3L1 9l11 6 9-4.91V17h2V9L12
                3zm0 13.09L3.74 10.5 12 6l8.26
                4.5L12 16.09zM11 18h2v3h-2z" />
            </svg>
        </div>
        <div class="label4">Lesedi<br />Student Fund</div>
    </NavLink>
</footer>


@code {
    [Inject]
    NavigationManager Navigation { get; set; }

    void GoToLinkedOrganisation()
    {
        Navigation.NavigateTo("/linked-organisations");
    }
}
