<<<<<<< HEAD
﻿@page "/Landing"
=======
﻿@page "/landing"
>>>>>>> d07512e80572cc220cc4769763183edf96f8df09

<div class="welcome-container">

    <img src="images/chietalogo.png" alt="CHiETA Logo" style="height: 100px;" />



    <br />
    <br />

    <h2 class="welcome-heading">Welcome!</h2>

    <p>
        Access discretionary & mandatory grants,<br />
        manage your SDF applications, & apply for<br />
        student funding
    </p>

    <br />

    <div class="image-container">
        <img src="images/Landing1.jpg" alt="CHiETA Logo" class="circle-image first" />
        <img src="images/Landing2.jpg" alt="CHiETA Logo" class="circle-image second" />
        <div class="decorative-circle"></div>
    </div>

    <br />
    <br/>
    <br/>

    <button class="login-button" @onclick="GoToLogin">
        Login
    </button>

    <br /><br />

    <p class="register-message">
        Don't have an account? <a href="https://ims.chieta.org.za/account/login"><span>Register</span></a>
    </p>
</div>




@code {
    [Inject]
    NavigationManager Navigation { get; set; }

    void GoToLogin()
    {
        Navigation.NavigateTo("/login");
    }

   

}
