@page "/login"

<div class="login-container">
    
    <img src="images/chietalogo.png" alt="CHiETA Logo" style="height: 100px;" />
    <br />

    <h2 class="login-title">Login</h2>

    <div class="form-group">
        <input type="email" placeholder="Email" class="input-field" />
    </div>

    <div class="form-group">
        <input type="password" placeholder="Password" class="input-field" />
    </div>
    <br
    <p class="forgot-password">
        Forgot Password? <a href="https://ims.chieta.org.za/account/forgot-password" class="reset-link">Reset Now</a>
    </p>
    <br />
    <div class="form-group checkbox-group">
        <input type="checkbox" id="agree" />
        <label for="agree">
            I agree to <a href="#">terms of use</a> & <a href="#">privacy statement</a>
        </label>
    </div>

    <button class="btn-login" @onclick="GoToHome">
        Login
    </button>

    <p class="register-message">
        Don’t have an account? <a href="https://ims.chieta.org.za/account/register" class="register-link">Register</a>
    </p>
</div>









@code {
    [Inject]
    NavigationManager Navigation { get; set; }

     void GoToHome()
    {
        Navigation.NavigateTo("/home");
    }

}
