@page "/mandatory-grants"

<div class="grants-container">
    <h2 class="grants-title">Mandatory Grants Overview</h2>

    <table class="grants-table">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="dropdown">
                        <button class="dropdown-toggle">Options</button>
                        <div class="dropdown-menu">
                            <a href="/mandatory-SDF-Details">View Application</a>
                            <a href="#">Evaluation letter</a>
                        </div>
                    </div>
                </td>
                <td>MG 2023</td>
                <td>Mandatory Grants 2023</td>
                <td>RSA Review completed</td>
            </tr>
            <tr>
                <td>
                    <div class="dropdown">
                        <button class="dropdown-toggle">Options</button>
                        <div class="dropdown-menu">
                            <a href="/mandatory-SDF-Details">View Application</a>
                            <a href="#">Evaluation letter</a>
                        </div>
                    </div>
                </td>
                <td>MG 2024</td>
                <td>Mandatory Grants 2024</td>
                <td>Approved</td>
            </tr>
            <tr>
                <td>
                    <div class="dropdown">
                        <button class="dropdown-toggle">Options</button>
                        <div class="dropdown-menu">
                            <a href="/mandatory-SDF-Details">View Application</a>
                            <a href="#">Evaluation letter</a>
                        </div>
                    </div>
                </td>
                <td>MG 2025</td>
                <td>Mandatory Grants 2025</td>
                <td>Extension Granted</td>
            </tr>
        </tbody>
    </table>
</div>


@code {

}
