@page "/Mandatory-grant"

<link href="css/mandatory-grants.css" rel="stylesheet" />

<div class="page-wrapper">
    <div class="header">
        <div class="back-button">&larr; Back</div>
        <div class="title">Mandatory Grants Overview</div>
    </div>

    <div class="table-container">
        <table class="grants-table">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="dropdown">
                            <button class="dropdown-toggle">Options</button>
                            <div class="dropdown-menu">
                                <div>View Application</div>
                                <div>Evaluation letter</div>
                            </div>
                        </div>
                    </td>
                    <td>MG 2023</td>
                    <td>Mandatory Grants 2023</td>
                    <td>RSA Review completed</td>
                </tr>
                <tr>
                    <td>
                        <div class="dropdown">
                            <button class="dropdown-toggle">Options</button>
                            <div class="dropdown-menu">
                                <div>View Application</div>
                                <div>Evaluation letter</div>
                            </div>
                        </div>
                    </td>
                    <td>MG 2025</td>
                    <td>Mandatory Grants 2025</td>
                    <td>Extension Granted</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="nav-footer">
        <div class="nav-item">🏠<br />Home</div>
        <div class="nav-item">📅<br />Discretionery Grant</div>
        <div class="nav-item active">📂<br />Mandatory Grant</div>
        <div class="nav-item">🎓<br />Lesedi Student Fund</div>
    </footer>
</div>


@code {

}
