@page "/"

<div class="page-content">
    <div class="header">
        <span class="header-title">Linked Organisations</span>
    </div>

    <div class="table-container">+++++++++
        <table class="organisation-table">
            <thead>
                <tr>
                    <th>SDL No.</th>
                    <th>Organisational Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>L550720795</td>
                    <td>
                        THE PETROLEUM OIL AND<br />
                        GAS CORPORATION OF<br />
                        SOUTH AFRICA SOC LTD
                    </td>
                    <td>
                        <select class="action-select">
                            <option>Select</option>
                            <option>Discretionary Grant</option>
                            <option>Mandatory Grant</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="info-text">
        <p><strong>Discretion ></strong> Application</p>
        <p><strong>Mandatory ></strong> Show previous Applications</p>
    </div>
</div>



@code { 

}
        
        
